{
  "name": "@support-squad-c2c-resources/packages-example-npm",
  "version": "1.0.0",
  "lockfileVersion": 2,
  "requires": true,
  "packages": {
    "": {
      "name": "@support-squad-c2c-resources/packages-example-npm",
      "version": "1.0.0",
      "license": "ISC"
    },
    "node_modules/support-squad-c2c-npm-example": {
      "resolved": "",
      "link": true
    }
  },
  "dependencies": {
    "support-squad-c2c-npm-example": {
      "version": "file:"
    }
  }
}
